<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ADD do thue</title>
  <link rel="stylesheet" th:href="@{/css/do-thue.css}">
</head>
<body>
<h2>Thêm Đồ Thuê</h2>
<form th:action="@{/do-thue/add}" th:object="${doThue}" method="post">
  <label for="tenDoThue">Tên đồ thuê:</label>
  <input type="text" id="tenDoThue" th:field="*{tenDoThue}" required>

  <label for="donGia">Giá:</label>
  <input type="number" id="donGia" th:field="*{donGia}" required>

  <label for="soLuong">Số lượng:</label>
  <input type="number" id="soLuong" th:field="*{soLuong}" required>

  <label for="trangThai">Trạng thái:</label>
  <select id="trangThai" th:field="*{trangThai}">
    <option value="1">Còn hàng</option>
    <option value="0">Hết hàng</option>
  </select>

  <button type="submit">Thêm Đồ Thuê</button>
</form>
<br>
<a href="/dich-vu/san-pham">⬅ Quay lại</a>
</body>
</html>